html, body {
	margin: 0;
	padding: 0;

	font-family: 'helvetica', sans-serif;
}

.heatmap {
	margin: 20px;
	float: left;
}

.heatmap:hover {
	cursor: crosshair;
}

.infoPanel {
	width: auto;
	margin: 20px;
	float: right;
}

.legend {
	margin: 20px;
	display: block;
}