html, body {
	margin: 0;
	padding: 0;

	font-family: 'helvetica', sans-serif;
}

.wrapper {
	position: relative;
	margin: 40px;
	overflow: visible;
	/* ratio h:w must be 3:4
	*	vid and canvas inherit
	*	these dimensions
	*/
	height: 720px;
	width: 960px;
	float: left;
}

.vid {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border: solid 1px;
	float: left;
}

.overlay {
	position: absolute;
	/* height and width set to h & w of vid by js on load*/
	/* 	added to sure up click event detection
			as per: http://stackoverflow.com/questions/13833227/css3-rotate-on-animated-element-causing-click-event-not-to-invoke */
	float: left;
	background-color: rgba(0,150,150,0.1);
	/*
	transform-style: 'preserve-3d';
	perspective: 600;
	-webkit-backface-visibility: hidden;
	*/
	-webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000;
}

.overlay:hover {
	cursor: crosshair;
}

.settingsPanel {
	display: inline-block;
	float: right;
	width: auto;
	margin: 40px;
}

.calibDialog {}

.calibControls {
	float: left;
}

.rotationControls {
	max-width: 50%;
	float: left;
}

.rotationSlider .translationSlider {
	min-width: 200px;
}

.translationControls {
	max-width: 50%;
	float: right;
}

ol {
	max-width: 200px;
}

.clicked {
	background-color: green;
}

.clickHere {
	background-color: yellow;
}

.strikethrough {
	text-decoration: line-through;
}