html, body {
	margin: 0;
	padding: 0;

	font-family: 'helvetica', sans-serif;
}

.wrapper {
	position: relative;
	margin: 40px;
	min-height: 480px;
	overflow: visible;
}

.vid {
	position: absolute;
	top: 0;
	left: 0;
	/* ratio h:w must be 3:4 */
	height: 480px;
	width: 640px;
	border: solid 1px;
	float: left;
}

.overlay {
	position: absolute;
	/*
	top: 0;
	left: 0;
	*/
	/* 	added to sure up click event detection
			as per: http://stackoverflow.com/questions/13833227/css3-rotate-on-animated-element-causing-click-event-not-to-invoke */
	float: left;
	/* ratio h:w must be 3:4 */
	height: 480px;
	width: 640px;

	background-color: rgba(100,0,0,0.4);
	transform-style: 'preserve-3d';
	/*
	-webkit-perspective: 600;
	-webkit-backface-visibility: hidden;
	*/
}

.overlay:hover {
	cursor: crosshair;
}

.settingsPanel {
	display: block;
	width: auto;
	margin: 40px;
}

.calibDialog {
	display: none;
}

.calibControls {
	max-width: 50%;
	float: left;
}

.rotationControls {
	max-width: 50%;
	float: left;
}

.xrotationSlider .xtranslationSlider {
	min-width: 200px;
}

.translationControls {
	max-width: 50%;
	float: right;
}

ol {
	max-width: 200px;
}

.clicked {
	background-color: green;
}

.clickHere {
	background-color: yellow;
}