html, body {
	margin: 0;
	padding: 0;

	font-family: 'helvetica', sans-serif;
}

.wrapper {
	position: relative;
	margin: 40px;
	min-height: 480px;
}

.vid {
	position: absolute;
	top: 0;
	left: 0;
	/* ratio h:w must be 3:4 */
	height: 480px;
	width: 640px;
	border: solid 1px;
	float: left;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	/* ratio h:w must be 3:4 */
	height: 480px;
	width: 640px;
}

.overlay:hover {
	cursor: crosshair;
}

.settingsPanel {
	display: block;
	width: auto;
	margin: 40px;
}

.calibDialog {
	display: none;
}

.clicked {
	background-color: green;
}

.clickHere {
	background-color: yellow;
}