html, body {
	margin: 0;
	padding: 0;

	font-family: 'helvetica', sans-serif;
}

.heatmap {
	position: relative;
	top: 0;
	left: 0;
	margin: 20px;
	float: left;
}

.heatmap:hover {
	cursor: crosshair;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px;
}

.overlay:hover {
	cursor: crosshair;
}

.infoPanel {
	width: auto;
	margin: 20px;
	float: left;
}

.legend {
	margin: 20px;
	display: block;
}