/* overwrite bootstrap styles*/
.navbar {
	margin-bottom: 0;
}

/* heatmap canvas styles */

.heatmap {
	position: relative;
	top: 0;
	left: 0;
	float: left;
}

/* funky negation class required to deal with modals */
body:not(modal-open) .heatmap:hover {
	cursor: crosshair;
}

.no-padding {
	padding: 0;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
}

.overlay:hover {
	cursor: crosshair;
}

.working {
	display: inline;
	display: none;
	max-width: 25px;
}

#scale .marker {
	width: 33%;
	float: left;
}

#scale #pc0 {
	text-align: left;
}

#scale #pc50 {
	text-align: center;
}

#scale #pc100 {
	text-align: right;
}