html, body {
	margin: 0;
	padding: 0;

	font-family: 'helvetica', sans-serif;
}

.heatmap {
	position: relative;
	top: 0;
	left: 0;
	margin: 20px;
	float: left;
}

.heatmap:hover {
	cursor: crosshair;
}

.heatmap.spinning {
  -webkit-animation: spin 2s infinite; /* Safari 4+ */
  -moz-animation:    spin 2s infinite; /* Fx 5+ */
  -o-animation:      spin 2s infinite; /* Opera 12+ */
  animation:         spin 2s infinite; /* IE 10+ */
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	margin: 20px;
}

.overlay:hover {
	cursor: crosshair;
}

.infoPanel {
	width: auto;
	margin: 20px;
	float: left;
}

.legend {
	margin: 20px;
	display: block;
}

@-webkit-keyframes spin {
  0%   { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }
}
@-moz-keyframes spin {
  0%   { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }
}
@-o-keyframes spin {
  0%   { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }
}
@keyframes spin {
  0%   { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }
}